@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

:root {
    --primary-color: #F72D00;
}


/*Navbar Section*/


.header-section {
    height: 100vh;
    width: 100%;
    background-image: url(images/abhi2.svg);
    background-size: cover;
    background-position: center;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 30px;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: var(--primary-color);
}

.navbar ul li {
    list-style: none;
    display: inline-block;
    padding: 10px 25px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    text-transform: capitalize;
}

.navbar a:hover {
    color: var(--primary-color);
    transition: .4s;

}

.hire-btn {
    background-color: var(--primary-color);
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.hire-btn:hover {
    transform: scale(1.2);
}


/*Home Section*/

/* .home {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.5);
    height: 840px;
    justify-content: center;
    align-items: center;
}

.home::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    background: url("images/abhi2.svg") no-repeat center center/cover;
    height: 900px;
    width: 100%;
    z-index: -1;
    opacity: .8;
}

.main{
    display: flex;
} */